
<div class="pg-index">
    <h1>Playground</h1>

    <button mat-raised-button class="pg-item" color="primary" routerLink="/authentication">Authentication playground</button>
    <button mat-raised-button class="pg-item" color="primary" routerLink="/viewer">Viewer playground</button>
    <button mat-raised-button class="pg-item" color="primary" routerLink="/search">Search playground</button>
    <button mat-raised-button class="pg-item" color="primary" routerLink="/ontology">Ontology playground</button>

</div>

<div class="pg-content">
    <router-outlet></router-outlet>
</div>