<!-- select the search -->
<form [formGroup]="form">
  <mat-form-field class="select-search">
    <mat-select placeholder="Select a search panel variant" [formControl]="form.controls['selectSearch']">
      <mat-option *ngFor="let item of selection" [value]="item">
        {{item.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<!--
<h3>Fulltext search</h3>
<kui-fulltext-search [route]="'/search'"></kui-fulltext-search>
--
<h3>Extended search</h3>
<kui-extended-search [route]="'/search'"></kui-extended-search>
-->

<div class="search-bars" [ngSwitch]="option.id">
  <h3>{{option.label}}</h3>
  <!--
  <h3>Old search</h3>
  <kui-search [route]="'/search'"></kui-search>
   -->

  <div *ngSwitchCase="selection[0].id">
    <kui-fulltext-search [route]="'/search'"></kui-fulltext-search>
  </div>

  <div *ngSwitchCase="selection[1].id">
    <kui-fulltext-search [route]="'/search'" [projectfilter]="true">
    </kui-fulltext-search>
  </div>

  <div *ngSwitchCase="selection[2].id">
    <kui-fulltext-search [route]="'/search'" [filterbyproject]="projectIri">
    </kui-fulltext-search>
  </div>

  <div *ngSwitchCase="selection[3].id">
    <kui-fulltext-search [route]="'/search'" [projectfilter]="true" [filterbyproject]="projectIri">
    </kui-fulltext-search>
  </div>

  <div *ngSwitchCase="selection[4].id">
    <kui-extended-search [route]="'/search'"></kui-extended-search>
    <!-- <kui-extended-search (gravsearch)="setGravsearch($event)"></kui-extended-search> -->
  </div>

  <div *ngSwitchCase="selection[5].id">
    <kui-expert-search [route]="'/search'"></kui-expert-search>
    <!-- <kui-expert-search (gravsearch)="setGravsearch($event)"></kui-expert-search> -->
  </div>

  <div *ngSwitchCase="selection[6].id">
    <kui-search-panel [route]="'/search'"></kui-search-panel>
  </div>
</div>

<!-- <mat-divider></mat-divider> -->

<!-- <kui-search-results [searchMode]="'extended'" [searchQuery]="searchQuery"></kui-search-results> -->

<mat-divider></mat-divider>

<div class="search-results">
  <h3>Search results if gravsearch emitted</h3>

  <kui-search-results *ngIf="gravsearch" [searchMode]="'extended'" [searchQuery]="gravsearch" [complexView]="true">
  </kui-search-results>
</div>

<mat-divider></mat-divider>

<div class="search-results">
  <h3>Search results</h3>
  <router-outlet></router-outlet>
</div>
