<!-- configure the search panel -->
<h3>Configure the search panel with the following parameters</h3>
<form [formGroup]="form">

  <mat-checkbox class="set-search-param" [formControl]="form.controls['filterbyproject']">
    filterbyproject = "{{ projectIri }}"</mat-checkbox>

  <mat-slide-toggle class="set-search-param" [formControl]="form.controls['projectfilter']">projectfilter
  </mat-slide-toggle>

  <mat-slide-toggle class="set-search-param" [formControl]="form.controls['extendedsearch']">extendedsearch
  </mat-slide-toggle>

  <mat-slide-toggle class="set-search-param" [formControl]="form.controls['expertsearch']">expertsearch
  </mat-slide-toggle>

</form>

<!--
<h3>Fulltext search</h3>
<kui-fulltext-search [route]="'/search'"></kui-fulltext-search>
--
<h3>Extended search</h3>
<kui-extended-search [route]="'/search'"></kui-extended-search>
-->

<!-- show the generated code -->
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Show code
      </mat-panel-title>
      <mat-panel-description>
        kui-search-panel
      </mat-panel-description>
    </mat-expansion-panel-header>
    <pre>
      &lt;kui-search-panel
        [filterbyproject]="{{limitToProject}}"
        [projectfilter]="{{projectFilter}}"
        [extendedsearch]="{{extendedSearch}}"
        [expertsearch]="{{expertSearch}}"&gt;
      &lt;/kui-search-panel&gt;
    </pre>
  </mat-expansion-panel>
</mat-accordion>

<!-- demo of search paenl -->
<div class="demo">
  <!-- simulate header -->
  <div class="header">
    <kui-search-panel *ngIf="!loading" class="center" [route]="'/search'" [projectfilter]="projectFilter"
                      [filterbyproject]="limitToProject" [extendedsearch]="extendedSearch"
                      [expertsearch]="expertSearch">
    </kui-search-panel>
    <!--  -->

  </div>
</div>

<mat-divider></mat-divider>

<!-- search results -->
<div class="search-results">
  <h3>Search results</h3>
  <router-outlet></router-outlet>
</div>
