<form [formGroup]="form">

    <mat-form-field class="string-literal">
        <!-- select: button to select language -->

        <button mat-button type="button" matPrefix class="select-lang" [matMenuTriggerFor]="selectLanguage"
                #btnToSelectLanguage="matMenuTrigger" (click)="form.controls['text'].disable()">
            <span class="label">{{language}}</span>
            <mat-icon class="icon" matSuffix>keyboard_arrow_down</mat-icon>
        </button>

        <!-- select: menu with list of languages -->
        <mat-menu #selectLanguage="matMenu">
            <button mat-menu-item type="button" *ngFor="let lang of languages"
                    (click)="setLanguage(lang);switchFocus()">
                <span [class.existing-value]="getValueFromStringLiteral(lang)">{{lang}}</span>
            </button>
            <!--
<mat-divider></mat-divider>
<button mat-menu-item type="button" (click)="toggleAll()">
    <span></span>
</button>
 -->
            <!-- (click)="setProject(project);changeFocus()" -->
        </mat-menu>
        <!-- input -->
        <input matInput [placeholder]="placeholder + ' (' + language + ')'" [formControl]="form.controls['text']"
               #textInput>
    </mat-form-field>

</form>

<mat-divider></mat-divider>

<p>Result</p>

<ul *ngIf="value.length > 0">
    <li *ngFor="let v of value">
        {{v.language}}: {{v.value}}
    </li>
</ul>
