<p>Select a resource type:</p>
<mat-button-toggle-group #group="matButtonToggleGroup">

    <mat-button-toggle *ngFor="let item of resourceExamples; let first = first" [value]="item.id"
                       (change)="openRes(item.id)" [disabled]="item.disabled" [aria-label]="item.type"
                       [checked]="item.id === resourceIri">
        <mat-icon>{{item.icon}}</mat-icon> {{item.type}}
    </mat-button-toggle>
</mat-button-toggle-group>
<br>
<mat-divider></mat-divider>

<div *ngIf="resourceIri !== null">
    <kui-resource-view [iri]="resourceIri"></kui-resource-view>
</div>
